<div class="row">
  <% @users.each do |user| %>
    <ul>
      <%= user.username%>
      <li><%= link_to "Delete This User", users_path, method: :delete %></li>
      <li><%= link_to "Make Admin", users_path, method: :update %></li>
      <br>
    <% end %>
    </ul>
</div>
