<h3>Search Results</h3>
<div class="container">
  <div class="row">
    <div class="field columns small-3">
      <ul>
        <% if @search_results_item.empty? && @search_results_review.empty? %>
          <p>No Results</p>
        <% else %>
          <% if @search_results_item.present? %>
            <% @search_results_item.each do |result| %>
            <p>Showing Item Results for "<%= params[:search] %>"</p>
              <li><%= link_to result.name, item_path(result) %></li>
            <% end %>
          <% end %>
          <% if @search_results_review.present? %>
            <% @search_results_review.each do |result| %>
            <p>Showing Review Results for "<%= params[:search] %>"</p>
                <li><%= link_to result.item.name, item_path(result.item) %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
