<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>created</th>
    <th></th>
  </tr>

  <%- @items.order(created_at: :desc).each do |item| -%>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= item.created_at %></td>
    </tr>
  <%- end -%>
</table>

<%= paginate @items %>
