<h1> <%= @item.name %> </h1>
  <br>
<% if @item.description.present? %>
  <h3> Description </h3>
    <div>
      <%= @item.description %>
    </div>
<% end %>

<%= link_to "Add Review", new_item_review_path(@item) %>

<%= link_to "Back", root_path %>
