/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.float_text a{
  position: relative;
  top: 10em;
  text-align: center;
  width: 60%;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: 6px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-variant: small-caps;
}

.sit_image{
  position: static;
  width: 100%;
}

.right_text{
  float: right;
}

.container {
  h1 {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: 6px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-variant: small-caps;
  }
}

h4{
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: 6px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-variant: small-caps;
}

ul{
  list-style-type: none;
  margin-left: 4px;
}

.small-font{
  font-size: 10px;
}

// .season-title a{
//   color: white;
//   font-family: 'Tinos', serif;
//   letter-spacing: 6px;
//   margin-left: 20px;
//   margin-top: 200px;
//   font-variant: small-caps;
// }

// .season-text{
//   padding-top: 100px;
// }

// .name{
//   font-family: 'Merriweather;', serif;
//   background: none;
//   padding: 0px;
//   font-variant: small-caps;
// }
