<div class="row">
  <% @categories.each do |cat| %>
    <div class="columns small-4">
      <div class="float_text"><%= link_to cat.name, items_path(:category => cat.id)%></div>
      <div class="sit_image"><%= link_to image_tag(cat.image), items_path(:category => cat.id)%></div>
    </div>
  <% end %>
</div>
