<p>
  <div class="text-center category-header"><%= @category.name.capitalize %></div>
</p>

<p>
  <%- if !@category.items.empty? -%>
    <%= render 'items/index', object: @items %>
  <%- end -%>
</p>

<%= link_to 'Add New Item', new_category_item_path(@category) %> |

<%= link_to 'Back', root_path %>
