<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <%- if !@category.items.empty? -%>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>

      <%- @category.items.each do |item| -%>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.description %></td>
        </tr>
      <%- end -%>
    </table>

  <%- end -%>
</p>

<%= link_to 'Back', root_path %>
